
.title{
    display: flex;
    vertical-align: bottom;
    // align-items: baseline;
    margin: 50px;

    // .title-content{
    //     max-width: 80%;
    //     display: flex;
    //     justify-content: space-evenly;
    // }

    .title_content{
        width: 635px;
        height: 251px;
        
    
        h3{
            color: #4A4FF2;
        }

        h1{
            font-style: normal;
            font-weight: bold;
            font-size: 40px;
            line-height: 60px;
        }

        .blue{
            color:#4A4FF2}
    }   

    .quote{
        font-style: italic;
        font-weight: normal;
        line-height: 23px;
        mix-blend-mode: normal;
        opacity: 0.6;
        align-self: end;
    }
}
