
@import'header-footer';
@import'landing';
@import'group';
@import'service-list';
@import 'awards';
@import 'project-detail';
@import 'contact';

html{
    background-color: #f7f7f7
}

body{
    max-width: 1400px;
    width: 100%;
    height: auto;
    margin: 0 auto;
    background-color: white;
    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
}

a:hover{
    color: coral;
}


